
<ion-slides pager="true" [options]="slideOpts">

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Face-to-face</ion-card-title>
        <ion-card-subtitle>From £35</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p> Weekly or intensive courses, privates, two to one, three to one or groups.</p>
        <p>Course content: General, business, technical or industry-specific Spanish.</p>
        <p>Location: Classes take place in your office, home or wherever you prefer.</p>
        <p>  Timetable: You choose when and how often you want your classes to take place.</p>
      </ion-card-content>

    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Online lesson</ion-card-title>
        <ion-card-subtitle>From £25</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Available anywhere you or your staff are in the world.</p>
        <p>Course content: General, business, technical or industry-specific Spanish.</p>
        <p>Location: Classes take place in your office, home or wherever you prefer.</p>
        <p>Timetable: You choose when and how often you want your classes to take place.</p>
      </ion-card-content>
    </ion-card>
  </ion-slide>

</ion-slides> 