<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
    
        <ion-col>
  
          <ion-title [routerLink]="['home']">Spanish Project</ion-title>
    
        </ion-col>
    
        <!-- Navigators Icons -->
        <ion-col>
    
          <ion-segment color="tertiary">
    
            <ion-segment-button >
              <ion-label color="tertiary">General</ion-label>
              <ion-icon color="tertiary" name="cafe"></ion-icon>
            </ion-segment-button>
    
            <ion-segment-button>
              <ion-label color="tertiary">For Bussines</ion-label>
              <ion-icon color="tertiary" name="cafe"></ion-icon>
            </ion-segment-button>
    
          </ion-segment>
    
        </ion-col>
    
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
            <h1> SPANISH </h1>
            <p>
            The mother tongue of 400 million people, an official language on four continents and the third most commonly spoken language in the world, Spanish boasts huge global importance.
            Learning to speak it properly can open doors to business opportunities around the globe.
            <p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          <h1> SPANISH PROJECT </h1>
          <p>
            20 years experiences of Spanish training for business, life & exams
            Personalised Spanish courses taught by qualified experienced, professional tutors
            Intensive teaching: full days of Spanish language & culture
            Modern learning technologies in every classroom
            Real life learning - explore London's hidden treasures in Spanish!
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          <h1>FOR BUSINESS</h1>
          <p>
          THE SPANISH PROJECT will create a personalised Spanish course to suit your needs. Our Spanish for business courses are aligned to the Common European Framework Reference and designed for students of all levels from beginner to advanced.
          
          We create a bespoke course, focus on the Spanish vocabulary you need in your career. Our clients are busy professionals, so we have perfected a fully immersive tuition method: you will be speaking Spanish – and only Spanish – throughout the course. It can be a challenge at first, but you will quickly find yourself speaking and thinking in Spanish. For executives and business people, it is the most efficient and empowering way to become competent and confident in business Spanish.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>
          <h1> SPANISH COURSE OPTIONS </h1>
          Language training price and format:
        </ion-text>

        <app-courses-options-slider-cards></app-courses-options-slider-cards>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <app-form></app-form>
      </ion-col>
    </ion-row>
  
  </ion-grid>
</ion-content>
