ion-col {
    //border: 1px solid red
}

ion-card {
    background-color: white
}

.segment-icon {
    padding-bottom: 10px;
}

.segment-label{
    
    font-size: 25px;
}

.app-logo {
    padding: 10px 10px;
    font-weight: bold;
    font-size: 75px;
}

.title {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    color: var(--ion-color-primary)
}

.first {
    height: 903px;
    background-image: url("../../../assets/img/background1.jpg")
}

.first_text{
    font-size: 45px;
    // margin-top: 610px;
    font-weight: bold; 
    color: white; 
    background-color: rgba(179, 179, 166, 0.911)
}

.second {
    height: 903px;
}

.third {
    height: 903px;
}

.four {
    height: 903px;
}

.five {
}

.principal-text {
    font-size: large;
}

.texting {
    font-size: 45px;
}