ion-col {
    border: 1px solid black
}

ion-card {
    background-color: white
}

.segment-icon {
    padding-bottom: 10px;
}

.segment-label{
    margin-bottom: 0px;
}

.app-logo {
    font-size: 55px
}

.title {
    font-size: 35px;
    text-align: center;
}

.first {
    background-color: deeppink;
    height: 903px;
}

.second {
    background-color: dodgerblue;
    height: 903px;
}

.third {
    background-color: rgb(186, 255, 117);
    height: 903px;
}

.four {
    background-color: palegoldenrod;
    height: 903px;
}

.five {
    background-color: lightgray;
    height: 903px;
}