ion-col {
    //border: 1px solid black
}

ion-card {
    background-color: white
}

.segment-icon {
    padding-bottom: 10px;
}

.segment-label{
    margin-bottom: 0px;
}

.app-logo {
    padding-top: 10px;
    font-size: 55px
}

.title {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
    color: var(--ion-color-primary)
}

.first {
    height: 903px;
}

.second {
    height: 903px;
}

.third {
    height: 903px;
}

.four {
    height: 903px;
}

.five {
}

.principal-text {
    font-size: large;
}